@import './resets';
@import './variables';

body {
    background: $primary-color;
    color: $text-color;
}

.main {
    width: 80%;
    margin: 0 auto;
    #{&}__paragraph {
        font-weight: map-get($font-weights, bold);
        &:hover {
            color: pink;
        }
    }
}